@import url("https://use.typekit.net/swr8ssr.css");

.vizElement {
    opacity: 1;

    transition-property: opacity;
    transition-duration: .5s;
    transition-delay: .1s;
    transition-timing-function: ease-in-out;
}

.hide {
    opacity: 0;
    pointer-events: none;
}